@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

*:where(.btn):hover {
    filter: url(#distort-filter-header-twitter-link);
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";

    /* 基础颜色 */
    --color-base-100: oklch(0 0 none); /* #3b424e */
    --color-base-200: oklch(30.1% 0.017 266.38); /* #2a2e37 */
    --color-base-300: oklch(20.91% 0.01 268.18); /* #16181d */
    --color-base-content: oklch(94.35% 0.006 274.8); /* #ebecf0 */

    /* 主要颜色 */
    --color-primary: oklch(67.79% 0.178 292.52); /* #9d7efa */
    --color-primary-content: oklch(100% 0 0); /* #ffffff */

    /* 次要颜色 */
    --color-secondary: oklch(88.48% 0.2 156.66); /* #36ffa1 */
    --color-secondary-content: oklch(100% 0 0); /* #ffffff */

    /* 强调色 */
    --color-accent: oklch(90.54% 0.155 194.8); /* #00ffff */
    --color-accent-content: oklch(100% 0 0); /* #ffffff */

    /* 中性色 */
    --color-neutral: oklch(30.1% 0.017 266.38); /* #2a2e37 */
    --color-neutral-content: oklch(100% 0 0); /* #ffffff */

    /* 语义颜色 */
    --color-info: oklch(78.48% 0.11 277.85); /* #a8b2ff */
    --color-info-content: oklch(0% 0 0); /* #000000 */

    --color-success: oklch(82.59% 0.098 160.66); /* #8bdab1 */
    --color-success-content: oklch(0% 0 0); /* #000000 */

    --color-warning: oklch(89.02% 0.138 123.4); /* #c9ea80 */
    --color-warning-content: oklch(0% 0 0); /* #000000 */

    --color-error: oklch(76.51% 0.098 49.26); /* #e6a07a */
    --color-error-content: oklch(0% 0 0); /* #000000 */

    /* 圆角设置 */
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;

    /* 尺寸设置 */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* 边框设置 */
    --border: 1px;

    /* 深度和噪点 */
    --depth: 1;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";

    /* 基础颜色 */
    --color-base-100: oklch(100% 0 263.28); /* #ffffff */
    --color-base-200: oklch(98.46% 0.002 248.57); /* #f9fafb */
    --color-base-300: oklch(86.48% 0.01 252.9); /* #ced3d9 */
    --color-base-content: oklch(27.02% 0.028 257.54); /* #1e2734 */

    /* 主要颜色 */
    --color-primary: oklch(88.48% 0.2 156.66); /* #36ffa1 */
    --color-primary-content: oklch(0% 0 0); /* #000000 */

    /* 次要颜色 */
    --color-secondary: oklch(67.7% 0.178 292.11); /* #9c7efa */
    --color-secondary-content: oklch(100% 0 0); /* #ffffff */

    /* 强调色 */
    --color-accent: oklch(90.54% 0.155 194.8); /* #00ffff */
    --color-accent-content: oklch(0% 0 0); /* #000000 */

    /* 中性色 */
    --color-neutral: oklch(37.74% 0.023 261.24); /* #3b424e */
    --color-neutral-content: oklch(100% 0 0); /* #ffffff */

    /* 语义颜色 */
    --color-info: oklch(90.5% 0.155 194.29); /* #00fffe */
    --color-info-content: oklch(0% 0 0); /* #000000 */

    --color-success: oklch(87.85% 0.226 151.5); /* #29ff86 */
    --color-success-content: oklch(0% 0 0); /* #000000 */

    --color-warning: oklch(92.24% 0.198 107.24); /* #f5ed00 */
    --color-warning-content: oklch(0% 0 0); /* #000000 */

    --color-error: oklch(68.38% 0.209 37.29); /* #ff5b24 */
    --color-error-content: oklch(100% 0 0); /* #ffffff */

    /* 圆角设置 */
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;

    /* 尺寸设置 */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* 边框设置 */
    --border: 1px;

    /* 深度和噪点 */
    --depth: 1;
    --noise: 1;
}

@font-face {
    font-family: "Dots";
    src: url("https://assets.diceshock.com/fonts/dots.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-bold.ttc") format("truetype-collection");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-bolditalic.ttc") format("truetype-collection");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-extralight.ttc") format("truetype-collection");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-extralightitalic.ttc") format("truetype-collection");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-light.ttc") format("truetype-collection");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-lightitalic.ttc") format("truetype-collection");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-regular.ttc") format("truetype-collection");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-italic.ttc") format("truetype-collection");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-semibold.ttc") format("truetype-collection");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Sarasa";
    src: url("https://assets.diceshock.com/fonts/sarasa-semibolditalic.ttc") format("truetype-collection");
    font-weight: 600;
    font-style: italic;
}

/* 使用 Sarasa 作为默认字体 */
body {
    font-family: "Sarasa", sans-serif;
}
