"$schema" = "node_modules/wrangler/config-schema.json"

name = "raiders"
compatibility_date = "2025-09-24"
main = "./src/main.ts"

[version_metadata]
binding = "CF_VERSION_METADATA"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[[d1_databases]]
binding = "DB"
database_name = "diceshock"
database_id = "24c01d5e-c4d7-4b13-bb59-5ad3373971e9"
migrations_dir = "../../drizzle"

[triggers]
crons = ["0 16 * * *"]
